{% extends 'base.html' %} {% block head %}
<title class="">TrashTalk</title>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='main.css') }}"
/>
{% endblock %} {% block body %}
<div class="wrapper">
  <div class="sidebar">
    <h2>TrashTalk</h2>
    <ul>
      <li class="notcurrent">
        <a href="#"><i>Account Management</i></a>
      </li>
      <li class="notcurrent">
        <a href="#"><i>Customer Support</i></a>
      </li>
      <li class="current">
        <a href="/admin/Inventory/addField"><i>Inventory</i></a>
      </li>
      <li class="notcurrent">
        <a href="#"><i>Transaction</i></a>
      </li>
      <li class="notcurrent">
        <a href="#"><i>Rewards</i></a>
      </li>
    </ul>
  </div>
  <div class="main_content">
    <div class="header">Empty Inventory</div>
    <div class="info">
      <div>Click Inventory on the Sidebar</div>
    </div>
  </div>
</div>
{% endblock %}
