nav {
    width: 100%;
    background: var(--color-white);
    padding: 1rem 0;
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 96%;
    margin: 0 auto;
}

nav .search-bar{
    background: var(--color-light);
    padding: var(--padding-2) var(--card-padding);
    width: 32vw;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--color-gray-light);
    position: absolute;
    left: 15%;
}

nav .search-bar input[type='search']{
    color: var(--color-dark);
    background: transparent;
    width: 100%;
}

nav .search-bar input[type='search']::placeholder {
    color: var(--color-gray-dark);
}

nav .profile{
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav .profile .photo{
    display: vlock;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
}

nav .profile button {
    display: none;
}

*{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    margin: 0;
    font-family: sans-serif;
}
.wrapper {
    display: flex;
    position: relative;
}
.wrapper .sidebar{
    position:fixed;
    width:200px;
    height:100%;
    background: #F5F7FA;
    padding: 30px 0;
}

.wrapper .sidebar h2{
    color: #434A54;
    text-align: center;
    margin-bottom:30px;
    font-family: Times New Roman;
}

.wrapper .sidebar ul li{
    padding: 30px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
}

.wrapper .sidebar ul .notcurrent a{
    color: #434A54;
    display: block;
}

.wrapper .sidebar ul .notcurrent:hover {
    background: #594f8d;
}

.wrapper .sidebar ul .notcurrent:hover a{
    color:#fff;
}
.wrapper .sidebar ul .current a{
    color:#fff;
}
.wrapper .sidebar ul .current {
     background: #594f8d;
}
.wrapper .main_content{
    width: 100%;
    margin-left: 200px;
}

hr {
    margin: 1rem 0;
    color: inherit;
    background-color: black;
    border: 0;
    opacity: 25;
}

img {
    border-radius: 50%;
  }

