.account{
    display:flex;
    position:absolute;
    padding-left:40px;
    font-size:20px;
    padding-top:25px;
    color: #434A54
}
.nav {
  padding: 10px;
  display: flex;
  margin-left: 1300px;
}
.nav-items a {
  margin-left: 20px;
  color: #434a54;
}
.nav-items a img {
  width: 30px;
}
.usericon {
  position: absolute;
  right: 0%;
  margin-right: 20px;
}
.bigpic-section{
    width: 100%;
    height: calc(100vh - 120px);
    background-image: url('../static/images/headpic.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigpic-section .headpic{
    height: 150px;
    display: block;
    margin: auto;
}

.bigpic-section .sub-heading{
    margin-top: 10px;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 300;
}

.logo {
  margin-left: 120px;
  height: 100px;


}
.product{
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}

.product-category{
    margin-top:20px;
    padding: 0 2vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.product-img img {
  height: 300px;
  margin-left: 20px;
  background-color: white;
}
.btn {
  margin-left: 20px;
}
#item1 {
  margin-left: 50px;
}
.product-cont{
    margin-left: 20px;
}
.product-container{
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar{
    display: none;
}

.product-card{
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 80px;
}

.product-image{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.product-thumb{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.card-btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn{
    opacity: 1;
}

.card-btn:hover{
    background: #efefef;
}

.product-info{
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-brand{
    text-transform: uppercase;
}

.product-short-des{
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}

.price{
    font-weight: 900;
    font-size: 20px;
}

footer{
    position: relative;
    width: 100%;
    padding: 40px 10vw;
    padding-bottom: 80px;
    background: #383838;
}

.footer-title, .info{
    color: rgba(255, 255, 255, 0.75);
    margin: 20px 0;
}

.footer-title{
    margin-top: 20px;
    color: #fff;
}

.footer-social-container{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.social-link{
    color: #fff;
    margin-left: 20px;
    text-transform: capitalize;
}

.social-link:nth-child(1){
    margin-left: 0;
}

.footer-credit{
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
}
.thatonebutton{
    margin-left:4px;
    cursor: pointer;
    padding:3px;
    border-radius: 5px;
    border: 1px solid #383838;
    color: #383838;
    background: #383838;
    color: #fff;
}