{% extends 'base.html' %}

{% block title %}
    <title class="">TrashTalk</title>
    <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='navbar.css') }}" >
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %} 
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
<nav>
    <div class="container">
        <div class="search-bar">
            <span class="material-icons-sharp"> search </span>
            <input type='search'>
        </div>

        {% if current_user.is_authenticated %}
        <div class='profile'>
            <div class="photo">
                <img src="/static/images/BlackHayate.jpg" alt="Shiba Inu" width="32" height="32" class="img-fluid rounded-circle me-1">
            </div>
            <strong> {{ current_user.get_username() }} </strong>
            <span class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle show" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="true"> expand_more </span>
            
            <button id="menu-btn">
                <span class="material-icons-sharp"> menu </span>
            </button>
        </div>
        {% else %}
        <div class="profile">
            <a href="/login"><button type="button" class="btn btn-outline-light me-2"> Login  </button></a>
            <a href="/signup"><button type="button" class="btn btn-primary"> Register </button></a>
        </div>
        {% endif %}
        

    </div>
</nav>
<!-- END OF NAVBAR -->
<!-- MIND YOU THIS IS STILL A IN PROGRESS THING, WILL UPDATE IT WHEN I AM DONE WITH THE REST OF IT-->
<div class="wrapper">
    <div class="sidebar">
        <h2>TrashTalk</h2>
        <ul>
            <li class="current"><a href="/home">Dashboard</a></li>
            <li class="notcurrent"><a href="/account"><i>Account Management</i></a> </li>
            <li class="notcurrent"><a href="#"><i>Customer Support</i></a> </li>
            <li class="notcurrent"><a href="#"><i>Inventory</i></a> </li>
            <li class="notcurrent"><a href="#"><i>Transaction</i></a> </li>
            <li class="notcurrent"><a href="/rewards"><i>Rewards</i></a> </li>
            <li class="notcurrent"><a href="/claimedRewards"><i>Claimed Rewards</i></a> </li>
            <li class="notcurrent"><a href="/createVoucher"><i>Create Voucher</i></a> </li>
            <li class="current"><a href="/retrieveVoucher"><i>Retrieve Voucher</i></a> </li>
        </ul>

    </div>
    <div class="main_content">
        <div class="header">YEET</div>
        <div class="info">
            <div>Banana</div>
        </div>
    </div>
    
</div>
{% endblock %}