{% extends 'base.html' %}

{% block title %}
    <title class="">TrashTalk</title>
    <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='navbar.css') }}" >
{% endblock %}

{% block content %}
<nav>
    <div class="container">
        <h2>TrashTalk</h2>
        <div class="search-bar">
            <span class="material-icons-sharp"> search </span>
            <input type='search'>
        </div>

        <div class='profile'>
            <div class="photo">
                <img src="./Templates/images/BlackHayate.jpg">
            </div>
            <h5> Welcome, banana! </h5>
            <span class="material-icons-sharp"> expand_more </span>
            
            <button id="menu-btn">
                <span class="material-icons-sharp"> menu </span>
            </button>
        </div>

    </div>
</nav>
<!-- END OF NAVBAR -->

<div class="wrapper">
    <div class="sidebar">
        <h2>TrashTalk</h2>
        <ul>
            <li class="current"><a href="/">Dashboard</a></li>
            <li class="notcurrent"><a href="/account"><i>Account Management</i></a> </li>
            <li class="notcurrent"><a href="#"><i>Customer Support</i></a> </li>
            <li class="notcurrent"><a href="#"><i>Inventory</i></a> </li>
            <li class="notcurrent"><a href="#"><i>Transaction</i></a> </li>
            <li class="notcurrent"><a href="#"><i>Rewards</i></a> </li>
        </ul>

        <div class="Users">
            <a href="/login" class="Login"> Login </a>
            <a href="/signup" class="Register"> Register </a>
        </div>
    </div>
    <div class="main_content">
        <div class="header">YEET</div>
        <div class="info">
            <div>Banana</div>
        </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %} 
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}