{% extends "base.html" %}

{% block title %}
    <title class="">TrashTalk</title>
    <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='main.css') }}" >
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="sidebar">
        <h2>TrashTalk</h2>
        <ul>
            <li class="notcurrent"><a href="/">Home</a></li>
            <li class="current"><a href="/account"><i>Account Management</i></a> </li>
            <li class="notcurrent"><a href="#"><i>Customer Support</i></a> </li>
            <li class="notcurrent"><a href="#"><i>Inventory</i></a> </li>
            <li class="notcurrent"><a href="#"><i>Transaction</i></a> </li>
            <li class="notcurrent"><a href="#"><i>Rewards</i></a> </li>
        </ul>

        <div class="Users">
            <a href="/login" class="Login"> Login </a>
            <a href="/signup" class="Register"> Register </a>
        </div>
    </div>

<div class="main_content">
    <h1 class="display-4">Account List</h1>
    <table class="table table-striped">
  <thead>
      <tr>
          <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Password</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for list in acc_list %}
      <tr>
        <td>{{ list.get_user_id() }}</td>
        <td>{{ list.get_username() }}</td>
        <td>{{ list.get_email() }}</td>
        <td>{{ list.get_password() }}</td>

        <td><a href="/Update/{{list.get_user_id()}}" class="btn btn-warning">Update</a></td>
        <td>
          <form action="{{ url_for('delete_user', id=list.get_user_id()) }}" method="POST">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% endblock %}

