<!DOCTYPE html>
<html lang="en">
<title class="">TrashTalk</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='rewards.css') }}" />
<div class="wrapper">
    <div class="sidebar">
        <h2>TrashTalk</h2>
        <ul>
            <li class="notcurrent"><a href="/"><i>Account Management</i></a> </li>
            <li class="notcurrent"><a href="#"><i>Customer Support</i></a> </li>
            <li class="notcurrent"><a href="#"><i>Inventory</i></a> </li>
            <li class="notcurrent"><a href="#"><i>Transaction</i></a> </li>
            <li class="notcurrent"><a href="/rewards"><i>Rewards</i></a> </li>
            <li class="current"><a href="/claimedRewards"><i>Claimed Rewards</i></a> </li>
        </ul>
    </div>
    <div class="main_content">
        <div class="claimed_vouchers">
                  <div class="cv_head">
                    <p class="font">Claimed Vouchers</p>
                  </div>
                </div>
                <div class="points">
                  <div class="p_head">
                    <p class="font">Points</p>
                  </div>
                  <div class="p_total"><span class="point">100</span></div>
                </div>
    </div>
</div>
</html>