{% extends 'Base_Josh.html' %} {% block head %}
<title class="">TrashTalk</title>

{% endblock %} {% block body %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='main_Josh.css') }}"
/>
<div class="wrapper">
  <div class="sidebar">
    <a href="/"><h2>TrashTalk</h2></a>
    <ul>
      <li class="notcurrent">
        <a href="/admin"><i>Account Management</i></a>
      </li>
      <li class="notcurrent">
        <a href="/support"><i>Customer Support</i></a>
      </li>
      <li class="current">
        <a href="/admin/Inventory/addField"><i>Inventory</i></a>
      </li>
      <li class="notcurrent">
        <a href="/rewards"><i>Rewards</i></a>
      </li>
    </ul>
    {% if current_user.is_authenticated %}
        <div class="Users">
            <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle show" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="true">
                <img src="/static/images/admin_icon.png" alt="Shiba Inu" width="32" height="32" class="img-fluid rounded-circle me-1">
                <strong> Welcome, Admin! </strong>
            </a>
        </div>
        <a href="/logout"><button type="button" class="btn btn-primary"> Logout  </button></a>
        
        {% else %}
        {% endif %}
  </div>
  
  <div class="main_content">
    <div class="header">Empty Inventory</div>
    <div class="info">
      <div>Click Inventory on the Sidebar</div>
    </div>
  </div>
</div>
{% endblock %}