{% extends "Base_Rachel.html" %}
{% block title %}createfaq{% endblock %}

{% block content %}
<title>createfaq</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='create.css') }}">
{% from "includes/_formHelper.html" import render_field %}
<div class="wrapper">
    <div class="sidebar">
        <a href="/"><h2>TrashTalk</h2></a>
        <ul>
            <li class="notcurrent"><a href="/account"><i>Account Management</i></a> </li>
            <li class="current"><a href="/support"><i>Customer Support</i></a> </li>
            <li class="notcurrent"><a href="/admin/Inventory"><i>Inventory</i></a> </li>
            <li class="notcurrent"><a href="#"><i>Transaction</i></a> </li>
            <li class="notcurrent"><a href="/rewards"><i>Rewards</i></a> </li>
        </ul>
    </div>
    <div class="main_content">
        <h1 class="display-4">Create FAQs</h1>
        <form method="POST" action="">
    <div class="form-group"> {{ render_field(form.question, class="form-control") }} </div>
    <div class="form-group"> {{ render_field(form.answer, class="form-control") }} </div>

    <input type="submit" value="Submit" class="btn btn-primary"/> </form>

    </div>
    </div>


{% endblock %}