{% extends "base.html" %}
{% block title %}TrashTalk{% endblock %}

{% block content %}

<title>createfeedback</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='create.css') }}">

{% from "includes/_formHelper.html" import render_field %}
<div class="wrapper">
    <div class="sidebar">
        <h2>TrashTalk</h2>
        <ul>
            <li class="notcurrent"><a href="#"><i>Account Management</i></a> </li>
            <li class="current"><a href="/support"><i>Customer Support</i></a> </li>
            <li class="notcurrent"><a href="#"><i>Inventory</i></a> </li>
            <li class="notcurrent"><a href="#"><i>Transaction</i></a> </li>
            <li class="notcurrent"><a href="#"><i>Rewards</i></a> </li>
        </ul>
    </div>
    <div class="main_content">
        <h1 class="display-4">Feedback Form</h1>
        <form method="POST" action="">
    <div class="form-group"> {{ render_field(form.name, class="form-control") }} </div>
    <div class="form-group"> {{ render_field(form.subject, class="form-control") }} </div>
	
	<div id="prof">
        <div class="form-group"> {{ render_field(form.content, class="form-control") }} </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/> </form>

    </div>
    </div>


{% endblock %}