{% extends 'base.html' %}

{% block title %}
    <title class="">TrashTalk</title>
    <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='login.css') }}" >
{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<body>
    <section class="side">
        <img src="/Templates/images/Login.jpeg" alt="">
    </section>

    <section class="main">
        <div class='container'>
            <div class="login-container">
            
                <h2 class='title'> Welcome Back! </h2>
                <div class="separator"></div>
                <p class="welcome-message"> Please, provide login credentials to proceed and have access to all out services.</p>
                <form action="" class="login-form" method="POST">
                    <div class="form-control"> 
                        {{form.username(class_="form-style", placeholder_="Username")}}
                        <i class="fas fa-user"></i>
                        <!-- <input type="text" placeholder="Username" name="username"> -->
                    </div>
    
                    <div class="form-control">
                        {{form.password(class_="form-style", placeholder_="Password")}}
                        <i class="fas fa-lock"></i>
                    </div>
                    
                    <input type="submit" value="Submit" class="btn btn-primary" />

                    <div class="border">
                        <small class="text-muted">
                          Already have an account?
                          <a class="ml-2" href="/signup">Sign up</a>
                        </small>
                      </div>
                </form>
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %} 
                        <div class="alert alert-{{ category }}">
                            {{ message }} 
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %} 
        </div>
    </section>
    
    
</body>
{% endblock %}