



























<!-- THIS IS OLD STUFF, DONT TOUCH PLS-->











{% extends 'base.html' %} 
{% block title %}
<title class="">TrashTalk</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
{% endblock %}

{% block content %} 
{% from "includes/_formHelper.html" import render_field %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %} 
        <div class="alert alert-{{ category }}">
            {{ message }} 
        </div>
    {% endfor %}
{% endif %}
{% endwith %}

<h1 class="display-4">Login</h1>

<form method="POST" action="">
  <div class="form-group">
    {{render_field(form.username, class="form-control") }} 
  </div>
  <div class="form-group">
    {%if form.password.errors %}
        {{render_field(form.password, class="form-control") }}
            <div class="invalid-feedback">
                <span> {{ error }} </span>
            </div>
        {% else %}
        {{render_field(form.password, class="form-control") }}
    {% endif %} 
  </div>
  <div class="form-group">
    {{render_field(form.remember, class='form-group') }}
  </div>
 <input type="submit" value="Submit" class="btn btn-primary" />


<div class="border">
  <small class="text-muted">
    Already have an account?
    <a class="ml-2" href="/signup">Sign up</a>
  </small>
</div>
</form>
{% endblock %}







