{% extends "base.html" %}

{% block title %}
    <title class="">TrashTalk - Online Gaming Store</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='productpg.css') }}">
{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
<!---   <p class="account">Welcome {username.capitalize}!</p>    --->
<div class="nav">
    <nav class="navbar">
      <div class='nav-items'>
          <a class="nav-link active" data-bs-toggle="tab" href="/usercart">
            Your Cart
              <img src="../static/images/cart.jpg" alt="">
          </a>

        <a href="#account"><img src="/static/images/BlackHayate.jpg" alt="Shiba Inu" width="32" height="32" class="img-fluid rounded-circle me-1">
            <div class="Users">
                <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle show" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="true">                   
                    <a href="/logout"><button type="button" class="btn btn-outline-light me-2"> Logout  </button></a>
                </a>
            </div>
        </a>
    </nav>
</div>
{% else %}
<!---   <p class="account">Welcome {username.capitalize}!</p>    --->
<div class="nav">
<nav class="navbar">
  <div class='nav-items'>
      <a class="nav-link active" data-bs-toggle="tab" href="/usercart">
        Your Cart
          <img src="../static/images/cart.jpg" alt="">
      </a>
      <a href="#account"><img src="../static/images/user.jpg" alt=""> 
            <div class="Users">
                <a href="/login"><button type="button" class="btn btn-primary"> Login  </button></a>
                <a href="/signup"><button type="button" class="btn btn-primary"> Register </button></a>
            </div>
        </a>
   </div>
</nav>
</div>
{% endif %}

<div class="wrapper">
  <div class="sidebar">
      <h2 style="font-weight: normal; font-size:25px;">TrashTalk</h2>
      <ul>
        <li class="notcurrent"><a href="/" class="link">Home</a></li>
        <li class="current"><a href="#/mice" class="link">Mice</a></li>
        <li class="notcurrent"><a href="/keyboards" class="link">Keyboards</a></li>
        <li class="notcurrent"><a href="/audio" class="link">Audio</a></li>
        <li class="notcurrent"><a href="/monitors" class="link">Monitors</a></li>
      </ul>
  </div>

  <div class="main_content">
    <div class="product-container" style="margin-top:50px;">
      <div class="product-card"> <!---copy paste this card--->
        <div class="product-image">
            <img src="  /static/images/card1.png" class="product-thumb" alt=""> <!--- THEIMAGE --->
            <button class="card-btn" onclick="cart('item1')">Add to cart</button>
        </div>
        <div class="product-info">
            <h2 class="product-brand"><a href="/logimouse">Logitech G203</a></h2>  <!--- PRODUCT --->
            <p class="product-short-des">LIGHTSYNC</p> <!--- DESCRIPTION --->
            <span class="price">$50</span>  <!--- PRICE --->
            <input type="hidden" id="item1_name" value="Logitech G203">
            <input type="hidden" id="item1_price" value=50>
        </div>
      </div>    <!--- til here--->
      <div class="product-card"> <!---copy paste this card--->
        <div class="product-image">
            <img src="/static/images/vipermini.jpg" class="product-thumb" alt="">
            <button class="card-btn" onclick="cart('item2')">Add to cart</button>
        </div>
        <div class="product-info">
            <h2 class="product-brand"><a href="/vipermini">RAZER Viper Mini</a></h2>
            <p class="product-short-des">Wired Gaming Mouse</p>
            <span class="price">$69.90</span>
            <input type="hidden" id="item2_name" value="RAZER Viper Mini">
            <input type="hidden" id="item2_price" value=69.90>
        </div>
      </div>    <!--- til here--->

    </div>

      <footer style="margin-top:120px;">
        <p class="footer-title">About Company</p>
        <p class="info">This company sells gaming goods for all you gamers out there!</p>
        <p class="info">Support Emails - help@trashtalk.com, customersupport@trashtalk.com</p>
        <p class="info">Telephone - 180 00 00 001</p>
        <div class="footer-social-container">
            <div>
                <a href="#" class="social-link">terms & services</a>
                <a href="#" class="social-link">privacy page</a>
                <a href="#" class="social-link">Contact Us</a>
            </div>
            <div>
                <a href="#" class="social-link">Instagram</a>
                <a href="#" class="social-link">Facebook</a>
                <a href="#" class="social-link">Twitter</a>
            </div>
        </div>
        <p class="footer-credit">Gamer, Best gaming accessories online store</p>
    </footer>

  </div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
function cart(id) {
        var name=document.getElementById( id +"_name").value;
        var price=document.getElementById( id +"_price").value;
        alert("Added to cart successfully.");
        var item = {'name': name, 'price': parseFloat(price)};
        console.log(item);
        fetch('/addtocart/', {
            method: 'POST',
            headers: {
                'Content-Type' : 'application/json'
            },
            body: JSON.stringify(item)
        }).then(res => {
            return res.json()
        }).then(data => item)
    };

</script>
{% endblock %}