{% extends "base.html" %}
{% block title %}Retrieve feedback{% endblock %}
{% block content %}
<title>retrievefeedback</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='retrieve.css') }}">
<h1 class="display-4">Retrieve feedback data</h1>

  <div class="sidebar">
        <a href="/"><h2>TrashTalk</h2></a>
        <ul>
            <li class="notcurrent"><a href="#"><i>Account Management</i></a> </li>
            <li class="current"><a href="/support"><i>Customer Support</i></a> </li>
            <li class="notcurrent"><a href="#"><i>Inventory</i></a> </li>
            <li class="notcurrent"><a href="#"><i>Transaction</i></a> </li>
            <li class="notcurrent"><a href="#"><i>Rewards</i></a> </li>
        </ul>
  </div>

<div>
  {% if count == 0 %}
  <p>There is no data.</p>
  {% endif %}
</div>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Subject</th>
        <th>Content</th>
		<th></th>
      </tr>
    </thead>
    <tbody>
    {% for feedback	in feedback_list %}
      <tr>
        <td>{{feedback.get_name()}}</td>
        <td>{{feedback.get_subject()}}</td>
		<td>{{feedback.get_content()}}</td>

        <td>
          <form action="{{url_for('delete_feedback', id=feedback.get_feedback_id())}}" method="POST">
            <!---<input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{feedback.get_name()}} {{feedback.get_subject()}} {{feedback.get_content()}}?');"-->
            <!-- Button to Open the Modal -->
            <button type="button"  class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{feedback.get_feedback_id()}}">
              Delete
            </button>

            <!-- The Modal -->
            <div class="modal" id="myModal_{{feedback.get_feedback_id()}}">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                    Are you sure you want to delete {{feedback.get_name()}} {{feedback.get_subject()}} {{feedback.get_content()}}?
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <input type="submit" value="Delete" class="btn btn-danger">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  </div>

                </div>
              </div>
            </div>
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
